NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_CHAIN_ID=421614
NEXT_PUBLIC_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
NEXT_PUBLIC_EXPLORER_BASE_URL=https://sepolia.arbiscan.io
NEXT_PUBLIC_EXPLORER_API_URL=https://api.etherscan.io/v2/api
NEXT_PUBLIC_ETHERSCAN_API_KEY=YOUR_ARBISCAN_API_KEY

# WalletConnect Cloud project id
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=YOUR_WALLETCONNECT_PROJECT_ID

NEXT_PUBLIC_ORLANCE_POOL_NAME="Orlance stETH 1M"
NEXT_PUBLIC_ORLANCE_MATURITY_TIMESTAMP=1774160639
NEXT_PUBLIC_ORLANCE_MOCK_LIDO=0xf5B3bb359f08b1EFc0114A0C1ceb9fB99f049D8A
NEXT_PUBLIC_ORLANCE_VAULT=0xB87Fe516525eD81093e61C8704FcFc9D64c9Ff1B
NEXT_PUBLIC_ORLANCE_ROUTER=0x65952F3fa4a131F3BA47342d85F3f830e2DFa736
NEXT_PUBLIC_ORLANCE_TPS=0xb750d2125696A1315001AfF865D2757bdFc3271D
NEXT_PUBLIC_ORLANCE_TYS=0xf9974EAaEC9239c109cAAb63d332e3Ce21eC0cB0
NEXT_PUBLIC_ORLANCE_SIMPLE_AMM=0xcaF86109F34d74DE0e554FD5E652C412517374fb
NEXT_PUBLIC_ORLANCE_AUTO_ROLLER=0x0F407879726bf87E3eC2727E43C230b968138cC4
NEXT_PUBLIC_ORLANCE_LOTTERY=0x5D4748951fB0AF37c57BcCb024B3EE29360148bc

# Optional multi-pool metadata (for UI listing / future pool registry support)
NEXT_PUBLIC_ORLANCE_POOL_NAME_1="Orlance stETH 1M"
NEXT_PUBLIC_ORLANCE_POOL_NAME_2="Orlance stETH 2M"
NEXT_PUBLIC_ORLANCE_POOL_NAME_3="Orlance stETH 3M"
NEXT_PUBLIC_ORLANCE_MATURITY_TIMESTAMP_1=1774160639
NEXT_PUBLIC_ORLANCE_MATURITY_TIMESTAMP_2=1776752639
NEXT_PUBLIC_ORLANCE_MATURITY_TIMESTAMP_3=1779344639
NEXT_PUBLIC_ORLANCE_TPS_1=0xb750d2125696A1315001AfF865D2757bdFc3271D
NEXT_PUBLIC_ORLANCE_TPS_2=0xea1ecdbf874f904B4CA719b589E07d99d1cb8Fd7
NEXT_PUBLIC_ORLANCE_TPS_3=0x5D7f05670121c986f76C1a3f7300cfFf2e8Ca466
NEXT_PUBLIC_ORLANCE_TYS_1=0xf9974EAaEC9239c109cAAb63d332e3Ce21eC0cB0
NEXT_PUBLIC_ORLANCE_TYS_2=0xd21eB3B2df6291576dC369D123d8569238F2348b
NEXT_PUBLIC_ORLANCE_TYS_3=0xAe36C1e5163a2393AEcc13b607cb9B20aafA0157
NEXT_PUBLIC_ORLANCE_SIMPLE_AMM_1=0xcaF86109F34d74DE0e554FD5E652C412517374fb
NEXT_PUBLIC_ORLANCE_SIMPLE_AMM_2=0x8A272505426D4F129EE3493A837367B884653237
NEXT_PUBLIC_ORLANCE_SIMPLE_AMM_3=0xDC3514581A06B22392bD6B2f89F58Aa68B9Ffb5C
